<style>
  .my-pagination .ngx-pagination .current {
    background: red;
  }
</style>
<input type="number" id="fname" [(ngModel)]='search' name="search" placeholder="Enter year">
<div class="cards">
  <div class="card"
    *ngFor="let car of cars.results | searchFilter:search | paginate: { itemsPerPage: 10, currentPage: p }"
    [ngStyle]="{'background-image': 'url(../../../assets/images/makerLogos/' + car.Make.toLowerCase() + '.png)'}">
    <div class="background"></div>
    <div class="cardCell">
      <b>{{ car.Make }}</b>&nbsp;{{ car.Model }}
      <br />
      {{ car.Year }}
      <br /><br />
      {{ car.Category }}
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>